.footer{
  background-color: #141414;

}

.footer-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 60px;
  align-items: baseline;
}
.footer-texto{
  font-size: 1.5rem;
  max-width: 40ch;
}

.footer-contato li{
  font-size: 1.7rem;
  padding: 10px;
}

.footer-contato li a{
  color: #e8e5de;
}

.footer-copy{
  grid-column: 1/-1;
  text-align: center;
}

@media (max-width: 1120px){
  .footer-container{
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .footer-texto{
    text-align: center;
  }

  .footer-contato li{

  }
}

