body{
  font-family: 'Lexend Giga', sans-serif;
  margin: 0px;
  background-color: #E8E5DE;
}

img{
  max-width: 100%;
  display: block;
}

h1, h2, h3, p{
  margin: 0px;
  padding: 0px;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul a{
  text-decoration: none;
}

.destaque{
  color: #0038FF;
}

